{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Algorithm Introduction</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">PSO</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="/static/images/Hotkeys.jpg" alt="图片找不到啦...">
                        <div class="caption">
                            <h3>粒子群算法</h3>
                            <p>来源于对生物群体智能行为进行简化模拟的启发式进化方式。</p>
                            <p>
                                <a href="PSO.html">Read more
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">FOA</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="/static/images/Hotkeys.jpg" alt="图片找不到啦...">
                        <div class="caption">
                            <h3>果蝇算法</h3>
                            <p>依据果蝇觅食特性，抽象出的群体智能进化算法。</p>
                            <p>
                                <a href="FOA.html">Read more
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
    <!--<div class="row">-->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">GA</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="/static/images/Hotkeys.jpg" alt="图片找不到啦...">
                        <div class="caption">
                            <h3>遗传算法</h3>
                            <p>模拟达尔文进化论的自然选择和遗传学进化过程的计算模型。</p>
                            <p>
                                <a href="GA.html">Read more
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">SA</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="/static/images/Hotkeys.jpg" alt="图片找不到啦...">
                        <div class="caption">
                            <h3>退火果蝇算法</h3>
                            <p>在引入退火机制的基础上，提出一种改进的果蝇优化算法。</p>
                            <p>
                                <a href="SA.html">Read more
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}